<header class="flex justify-between items-center h-[60px] px-[50px] bg-[#004282]">
  <h1 class="text-[white] text-xl">BUHMS</h1>
  <div>
    <a href="" class="mr-[40px] text-xl font-normal text-white">Home</a>
    <a href="/admin" class="mr-[40px] text-xl font-normal text-white">Admin Page</a>
    <a href="/admin/dashboard" class="mr-[40px] text-xl font-normal text-white">Dashboard</a>
    <a href="/register" class="mr-[40px] text-xl font-normal text-white">Register</a>
    <a href="/login" class=" text-xl font-normal text-white">Login</a>
  </div>
</header>