<div class="flex justify-center items-center flex-col">
  <h3 class="font-semibold text-2xl mb-5">Halls</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-[100%]">
    <!-- Loop through each hall using *ngFor directive -->
    <div *ngFor="let hall of halls" class="bg-white rounded-lg shadow-md p-4">
      <h4 class="font-semibold text-lg mb-2">{{ hall.name }}</h4>
      <p class="text-gray-600 mb-2">{{ hall.description }}</p>
      <p class="text-gray-600">Type: {{ hall.type }}</p>
      <p class="text-gray-600">Gender: {{ hall.gender }}</p>
      <p class="text-gray-600">Number of Rooms: {{ hall.numberOfRooms }}</p>
    </div>
    <!-- If no halls are available, display a message -->
    <div *ngIf="!halls || halls.length === 0" class="text-gray-600 text-center">
      No halls available.
    </div>
  </div>
</div>
