<div class="flex justify-center items-center flex-col">
  <h3 class="font-semibold text-2xl mb-5">Users</h3>
  <div *ngIf="hasError" class="bg-red-500 text-white py-3 px-5 my-3 rounded-md text-center">
    {{ errorMessage }}
  </div>
  <div *ngIf="hasSuccess" class="bg-green-500 text-white py-3 px-5 my-3 rounded-md text-center">
    {{ successMessage }}
  </div>
  <div class="flex flex-col mb-5">
    <label for="hallId">Select Hall Name</label>
    <select id="hallId" name="hallId" class="border border-gray-300 rounded-md p-2 w-[500px]"
      (change)="fetchStudents($event)">
      <option value="">Select Hall</option>
      <option *ngFor="let hall of halls" [value]="hall.id">{{hall.name}}</option>
    </select>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-[100%]">
    <!-- Loop through each user using *ngFor directive -->
    <div *ngFor="let user of students" class="bg-white rounded-lg shadow-md p-4">
      <h4 class="font-semibold text-lg mb-2">{{ user.firstName }} {{ user.lastName }}</h4>
      <p class="text-gray-600 mb-2">Address: {{ user.address }}</p>
      <p class="text-gray-600">Matric: {{ user.matric }}</p>
      <p class="text-gray-600">Active: {{ user.isActive ? 'Yes' : 'No' }}</p>
      <p class="text-gray-600">Points: {{ user.points }}</p>
    </div>
    <!-- If no students are available, display a message -->
    <div *ngIf="!students || students.length === 0" class="text-gray-600 text-center">
      No users available.
    </div>
  </div>
</div>
