<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-white hover:text-[#004282] dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-72 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-[#004282]">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="admin/dashboard"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group"
        >
          <span class="ms-3">BUHMS Dashboard</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Create A Hall</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Get All Halls</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Create A Room</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Get Rooms In A Hall</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Assign Room</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap"
            >Get Students In A Hall</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Get Room Details</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Get All Compliants In A Hall</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Get All Compliants In A Room</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Fix Complaint</span>
        </a>
      </li>
      <li>
        <a
          href="/admin"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-white hover:text-[#004282] group"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Sign out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <div class="p-4 rounded-lg">
    
  </div>
</div>
